<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517720120901-a5h4gh36ep75rcm2ge5ud7algcj67lra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517720120901-a5h4gh36ep75rcm2ge5ud7algcj67lra</string>
	<key>API_KEY</key>
	<string>AIzaSyD1IMZyAtrGppjh71wQ7eECJG_rC_s87to</string>
	<key>GCM_SENDER_ID</key>
	<string>517720120901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharook.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whats-app-17f26</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-app-17f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517720120901:ios:4990f75cb486909ed38d2c</string>
	<key>DATABASE_URL</key>
	<string>https://whats-app-17f26.firebaseio.com</string>
</dict>
</plist>